@model IEnumerable<DepartmentDto>

@{
    ViewData["Title"] = "Departments";
    var searchTerm = ViewData["SearchTerm"]?.ToString() ?? string.Empty;
}

@if (!string.IsNullOrEmpty(@TempData["message"] as string))
{



    <div class="toast show position-fixed top-1 end-0 bg-success m-3" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">IKEA</strong>
            @* <small class="text-body-secondary">@DateTime.Now.Minute mins ago</small> *@
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body text-white">
            @TempData["message"]
        </div>
    </div>

}


<h1>Departments</h1>

<form method="get" asp-action="Index">
    <div class="form-group">
        <input type="text" id="SearchInput" name="searchTerm" value="@ViewData["SearchTerm"]" class="form-control my-2" placeholder="Search by Name" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
    <a asp-action="Index" class="btn btn-secondary">Clear</a>
</form>






@if (Model.Count() > 0)
{



    <div id="departmentTableContainer">
        <partial name="Partials/DepartmentTablePartialView" model="Model" />
    </div>


}
else
{
    <div class="alert alert-info mt-3">
        <h4>No departments available</h4>
    </div>
}

<a asp-controller="Department" asp-action="Create" class="btn btn-primary mb-3">Create New Department</a>

@section Scripts {
    <script>
        $(document).ready(function () {
            const searchBar = $("#SearchInput");
            const tableContainer = $('#departmentTableContainer');

            searchBar.on('keyup', function (event) {
                var searchValue = searchBar.val();
                $.ajax({
                    url: '@Url.Action("Index", "Department")',
                    type: 'GET',
                    data: { searchTerm: searchValue },
                    success: function (result) {
                        tableContainer.html(result); 
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>
}